center {
  width: 50%;
  margin: auto;
  margin-top: 25px;
  min-width: 1000px;
}

li.list-group-item.listItem {
  display: flex;
  justify-content: space-between;
}
li.list-group-item.listItem.completed {
  background-color: green;
  color: white;
}

#todoitem {
  width: 750px;
  float: left;
}
#name {
  float: left;
}
#date {
  float: right;
}

#button {
  width: 180px;
  float: right;
}
button.btn.btn-info {
  float: left;
}
button.btn.btn-danger {
  float: right;
}
